* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.App {
  width: 100%;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

.mono {
  font-family: 'Source Code Pro', monospace;
  font-weight: 300;
}

.flow > * + * {
  margin-top: 1em;
}

.horz-flow > * + * {
  margin-left: 1em;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 800;
}

h1,
h2 {
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

h1 {
  font-size: 2.7rem;
}
h2 {
  font-size: 2.3rem;
}
h3 {
  font-size: 1.7rem;
}
